---
const { pathname } = Astro.props;

const content = {
"/": {
	"title": "HOME",
	"icon": "./icons/house-fill.svg"
},
"/about": {
	"title": "ABOUT",
	"icon": "./icons/person-fill.svg"
},
"/projects": {
	"title": "PROJECTS",
	"icon": "./icons/wrench-adjustable.svg"
},
"/contact": {
	"title": "CONTACT",
	"icon": "./icons/envelope-at-fill.svg"
},
};
console.log(pathname);
---
<div class="indicator hc">
	<div 
		class="icon" 
		style=`mask: url(${content[pathname]["icon"]}) no-repeat 50% 50%`></div>
	{content[pathname]["title"]}
</div>

<style>
.indicator {
	justify-self: start;
	align-self: center;
	display: flex;
	flex-direction: row;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 2rem;
}
.icon {
	width: 1rem;
	height: 1rem;
	margin-right: 0.25rem;
}
</style>

