---
const { theme } = Astro.props;
---

<button id="dark-toggle" class="dark-toggle"></button>

<script>
	const button = document.getElementById('dark-toggle');
	button.addEventListener('click', () => {
		document.querySelector('html').classList.toggle('dark');
		window.localStorage.setItem("theme", window.localStorage.getItem("theme") === "light" ? "dark" : "light");
	});
</script>

<style>
.dark-toggle {
	border: none;
	border-radius: 0.375rem;	
	height: 2.5rem;
	width: 2.5rem;
	transition: all 0.3s;
}
.dark-toggle:hover {
	background-color: var(--dim);
}
.dark-toggle {
	background: var(--icon);
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--bg1);
}
</style>
