:root {
	--font-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	--font-body: system-ui, var(--font-fallback);
	font-family: var(--font-body);
}
