---
import Main from '../../layouts/Main.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog')
  return blogPosts.map(entry => ({
    params: { slug: p.slug }, props: { entry }
  }))

  const { entry } = Astro.props
  const { Content } = await p.render()
}
---
<Main>
<Content />
</Main>
