---
import Main from '../../layouts/Main.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import '../../styles/blog.css'

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog')
  return blogPosts.map(entry => ({
    params: { slug: entry.slug }, props: { entry }
  }))
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---
<Main>
<h1>{entry.data.title}</h1>
<h2>{entry.data.byline}</h2>
<Image class="header" src={entry.data.header} alt={entry.data.headerAlt}/>
<Content />
</Main>
