---
import { getCollection } from 'astro:content'
import Main from '../../layouts/Main.astro'
import Icon from '../../components/Icon.astro'
import '../../styles/blog.css'

const allBlogPosts = await getCollection('blog')
// fixme: add search function
---

<Main>
<h1>Blog Posts</h1>
<ul>
{allBlogPosts.map(p => (
    <li></li>
))}
</ul>
</Main>
