---
import BlogLayout from '@layout/BlogLayout.astro'
---

<BlogLayout>
	<div class="latest">
	<p>Latest Blog Post</p>
	<hr/>
	</div>
	<div class="search">
	<p>Search for Post</p>
	<hr/>
	</div>
	<div class="filters">
	<p>Filters</p>
	<hr/>
	</div>
	<div class="listings">

	</div>
</BlogLayout>

<style>
</style>
