@import 'var.css';

html {
	--bg0: var(--light-bg0);
	--bg1: var(--light-bg1);
	--bg2: var(--light-bg2);
	--dim: var(--light-dim);
	--fg0: var(--light-fg0);
	--fg1: var(--light-fg1);
	--blue: var(--light-blue);
	--br_blue: var(--light-br_blue);
	background: url('bg.svg'), var(--bg0);
}
html.dark {
	--bg0: var(--dark-bg0);
	--bg1: var(--dark-bg1);
	--bg2: var(--dark-bg2);
	--dim: var(--dark-dim);
	--fg0: var(--dark-fg0);
	--fg1: var(--dark-fg1);
	--blue: var(--dark-blue);
	--br_blue: var(--dark-br_blue);
	background: url('dbg.svg'), var(--bg0);
}
h1 {
	font-size: 1.1rem;
}
::selection {
	background: var(--bg2);
}
