@import "modern-normalize.css";
@import "var.css";
/* Root */
html.dark {
	color: var(--fg-dark);
}
html {
	color: var(--fg-light);
}
html.dark .inner-bg {
	filter: brightness(7%);
}
html.dark .icon {
	background-color: var(--fg-dark);
}
html .icon {
	background-color: var(--fg-light);
}
/* Header Components */
.hc {
    backdrop-filter: blur(4px);
	padding: 1rem;
}
html .hc {
	background: rgba(219, 219, 219, 0.5);
	border: 1px solid rgba(219, 219, 219, 1);
}
html.dark .hc {
	background: rgba(36, 36, 36, 0.5);
	border: 1px solid rgba(36, 36, 36, 1);
}
a {
	color: inherit;
	text-decoration: none;
}
.header:hover .bar {
	transition: 0.3s;
	transform: scale(1);
}
.header .bar {
	transition: 0.3s;
	transform: scale(0.75);
}
/* Nav Bar */
html .underbar {
	background: var(--fg-light);
}
html.dark .underbar {
	background: var(--fg-dark);
}
html .bar:after {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-light),
		transparent
	);
}
html.dark .bar:after {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-dark),
		transparent
	);
}
html .bar:before {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-light),
		transparent
	);
}
html.dark .bar:before {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-dark),
		transparent
	);
}
