@import "modern-normalize.css";
@import "var.css";
/* Root */
html.dark {
	--foreground: var(--fg-dark);
	color: var(--foreground);
	fill: var(--foreground);
}
html {
	--foreground: var(--fg-light);
	color: var(--foreground);
	fill: var(--foreground);
}
html.dark .inner-bg {
	filter: brightness(7%);
}
html.dark .icon {
	background-color: var(--fg-dark);
}
html .icon {
	background-color: var(--fg-light);
}
/* Header Components */
.hc {
    backdrop-filter: blur(4px);
	padding: 1rem;
}
html .hc {
	background: rgba(219, 219, 219, 0.5);
	border: 1px solid rgba(219, 219, 219, 1);
}
html.dark .hc {
	background: rgba(36, 36, 36, 0.5);
	border: 1px solid rgba(36, 36, 36, 1);
}
a {
	color: inherit;
	text-decoration: none;
}
.header:hover .bar {
	transition: 0.3s;
	transform: scale(1);
}
.header .bar {
	transition: 0.3s;
	transform: scale(0.75);
}
/* Nav Bar */
html hr {
	background: linear-gradient(
		to right,
		transparent,
		transparent 25%,
		var(--fg-light) 25%,
		var(--fg-light) 75%,
		transparent 75%,
		transparent
	);
}
html.dark hr {
	background: linear-gradient(
		to right,
		transparent,
		transparent 25%,
		var(--fg-dark) 25%,
		var(--fg-dark) 75%,
		transparent 75%,
		transparent
	);
}
html .bar:after {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-light),
		transparent
	);
}
html.dark .bar:after {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-dark),
		transparent
	);
}
html .bar:before {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-light),
		transparent
	);
}
html.dark .bar:before {
	background: linear-gradient(90deg,
		transparent,
		var(--primary-dark),
		transparent
	);
}
/* Projects */
html .face {
	box-shadow: 0 0 0 2px var(--primary-light);
}
html.dark .face {
	box-shadow: 0 0 0 2px var(--primary-dark);
}
html .chip {
	--chip-color: var(--primary-light);
	--chip-hover: rgba(0, 97, 253, 0.5);
}
html.dark .chip {
	--chip-color: var(--primary-dark);
	--chip-hover: rgba(0, 136, 255, 0.5)
}
