ul {
  list-style-type: none;
  padding: 0;
}

input[type=text] {
  font-family: "Concourse T4";
  font-size: 1rem;
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  padding: 0.5rem 1ch;
  border-radius: 0.25rem;
  width: 100%;
}
