@import 'var.css';
@font-face {
  font-family: 'Concourse C4';
  src: url('fonts/concourse_4_caps_bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Concourse T4';
  src: url('fonts/concourse_4_regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Concourse T4';
  src: url('fonts/concourse_4_italic.woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Concourse T4';
  src: url('fonts/concourse_4_bold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Concourse T4';
  src: url('fonts/concourse_4_bold_italic.woff2');
  font-weight: bold;
  font-style: italic;
}

html {
  display: flex;
  justify-content: center;
  background: var(--background);
  color: var(--text);
  font-family: 'Concourse T4', -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               'Helvetica Neue', sans-serif;
}

body {
  width: 70ch;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#bio {
  width: 70%;
}

#portrait {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: clip;
}

#portrait svg {
  position: absolute;
  top: 0;
  left: 0;
  stroke: var(--accent);
  stroke-dasharray: 1 0;
  stroke-dashoffset: 0;
  transition: 
    stroke-dasharray 0.5s linear,
    stroke-dashoffset 0.5s linear;
}

#portrait svg:hover {
  stroke-dasharray: 0.2 0.3;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    stroke-dashoffset: 0;
  } to {
    stroke-dashoffset: 1;
  }
}

.portrait {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 10rem;
  height: auto;
  border: 0.6rem solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  z-index: -1;
}

#projects ul {
  list-style: none;
  padding-left: 0;
}

#skills ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact ul {
  list-style-type: none;
  padding-left: 1rem;
}

.block-light, .block-dark {
  display: none;
}

[data-theme='light'] .block-light,
[data-theme='dark'] .block-dark {
  display: block !important;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
}

button {
  background-color: var(--secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: 'Concourse T4';
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-variant: small-caps;
  font-family: 'Concourse C4';
  font-size: calc(4rem / 3);
  letter-spacing: 0.05rem;
}
