---
import '../styles/404.css'
---
<body>
<h1><span>4</span><span>0</span><span>4</span></h1>
<p>The page you're looking for is elsewhere in the multiverse.</p>
<a href="/">Click here to return to your home dimension.</a>
</body>
