---
import Main from '@layout/Main.astro'
---
<script>
	const setup = () => {
		window.swup.hooks.on('animation:in:start', () => { location.hash = 'title'})
	}
	if(window.swup) {
		setup()
	}
	else {
		document.addEventListener('swup:enable', setup)
	}
	const scrollContainer = document.getElementById('content')
	scrollContainer.addEventListener('scroll', () => {
		if(scrollContainer.offsetHeight + scrollContainer.scrollTop >= scrollContainer.scrollHeight) {
			window.swup.navigate('/projects');
		}
		// Also add logic for updating the Main
	})
</script>
<Main pathname={Astro.url.pathname}>
	<h1 id="title">About</h1>
	<h2>Education</h2>
	<p>I graduated from University of California, Riverside (UCR) in March 2023, with a Bachelor of Science degree in Computer Engineering. In September 2023, I continued at UCR to pursue a Master of Science degree in Computer Engineering.
	</p>
	<h2>Work Experience</h2>
	<p></p>
	<h2>Skills</h2>
	<p>Following is a breakdown of languages used based on GitHub repositories.</p>
	<h2>Extra-Curricular</h2>
	<p></p>
</Main>
