---
import MainLayout from '@layout/MainLayout.astro'
import About from '@lib/About.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<MainLayout pathname={Astro.url.pathname}>
			<About/>
		</MainLayout>
	</body>
</html>
