---
import Main from '../layouts/Main.astro'
import Icon f rom '../components/Icon.astro'
---
<Main>
<h1>Message received!</h1>
<p>Thank you for taking the time to fill out the contact form. Please look forward to receiving an email from me shortly about your inquiry.</p>
<strong>Here is the information I received:<strong>
<table>
<tr>
<td><h2>name</h2></td>
<td></td>
</tr>

<tr>
<td><h2>email</h2></td>
</tr>

<tr>
<td><h2>message</h2></td>
</tr>
</table>
<a href="/" class="link">Go home <Icon name="external-link"/></a>
</Main>
