---
import '../styles/styles.css'

const link = import.meta.env.PUBLIC_FORM
---

<html>
<meta http-equiv="refresh" content={`3;url=${link}`}/>
<body>
<h1>Redirecting...</h1>
<strong><a href={`${link}`}>Click here if you are not redirected automatically.</a></strong>
</body>
</html>

<style>
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #146eeb;
}
</style>
