---
import Main from '@layout/Main.astro'

---
<script>
	const setup = () => {
		window.swup.hooks.on('animation:in:start', () => { location.hash = 'title'})
	}
	if(window.swup) {
		setup()
	}
	else {
		document.addEventListener('swup:enable', setup)
	}
</script>
<Main pathname={Astro.url.pathname}>
	<h1 id="title">Home</h1>
	<p>
	Hello, my name is Charles Alaras. I am an engineer looking to create interesting projects.
	</p>
</Main>
