---
import Main from '../layouts/Main.astro'
import Icon from '../components/Icon.astro'
import { Image } from 'astro:assets'
import portrait from '../images/portrait.png'
---

<Main>
<section id="intro">
<article>
<h1>Hello, I'm Charles Alaras</h1>
<p>
I am a programmer, engineer, video editor, event producer, writer, and graphic designer. I value creating simplistic, efficient, and elegant solutions to problems. My goal is to produce creative and polished projects.
</p>
</article>
<aside id="portrait">
<Image src={portrait} alt="Portrait of Charles Alaras" class="portrait"/>
</aside>
</section>
<section id="projects">
<h2>projects</h2>
<ul>
<li></li>
<li></li>
</ul>
<a href="/projects">
Click me to see more projects <Icon name="external-link" />
</a>
</section>
<section id="skills">
<h2>skills</h2>
</section>
<section id="experience">
<h2>experience</h2>
<ul>
  <li><details>
  <summary>XCITE Media Developer Assistant - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
</ul>
</section>
<section id="education">
<h2>education</h2>
<ul>
  <li><details>
  <summary>Master of Science in Computer Engineering - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
  <li><details>
  <summary>Bachelor of Science in Computer Engineering - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
</ul>
</section>
<section id="contact">
<h2>connect</h2>
<form>
<button title="Contact form link" type="submit" formaction="/contact"><Icon name="link"/> Click me to access contact form</button>
</form>
Note that JavaScript must be enabled to fill out the contact form.

<ul>
  <li><a href="https://linkedin.com/in/charles-alaras" target="_blank">Find me on LinkedIn </a></li>
  <li><a href="https://github.com/charlesalaras" target="_blank">Find me on GitHub </a></li>
  <li><a href="/blog">I also have a blog, if you're interested </a></li>
</ul>
</section>
</Main>
