---
import Main from '../layouts/Main.astro'
import Icon from '../components/Icon.astro'
import Project from '../components/Project.astro'
import Skill from '../components/Skill.astro'
import { Image } from 'astro:assets'
import portrait from '../images/portrait.png'
---

<Main>
<section id="intro">
<article id="bio">
<h1>Hello, I'm Charles Alaras 👋</h1>
<p>
I am a programmer, engineer, video editor, event producer, writer, and graphic designer. I value creating simplistic, efficient, and elegant solutions to problems. My goal is to produce creative and polished projects.
</p>
</article>
<aside id="portrait">
<Image src={portrait} alt="Portrait of Charles Alaras" class="portrait"/>
</aside>
</section>
<section id="projects">
<h2>projects</h2>
<ul>
<li><Project 
projectType="code"
title="Portfolio Website"
date="1 January 2024"
link="/projects/portfolio"
bio="Project description"
/></li>
<li><Project 
projectType="code"
title="Analyzing and Predicting Pet Adoption Speed"
date="15 December 2023"
link="#/projects/pet-adoption-speed"
bio="Project description"
/></li>
<li><Project 
projectType="calendar"
title="Birdcage Melee"
date="6 June 2023"
link="/projects/birdcage-melee"
bio="Project description"
/></li>
<li><Project 
projectType="cpu"
title="Laser Tag"
date="24 March 2023"
link="/projects/laser-tag"
bio="Project description"
/></li>
<li><Project 
projectType="code"
title="GPU-Accelerated Image Processing Tool"
date="10 June 2022"
link="/projects/gpu-image-processing"
bio="Project description"
/></li>
</ul>
<a class="link" href="/projects">
See more projects<Icon name="external-link" />
</a>
</section>
<section id="skills">
<h2>skills</h2>
<Skill/>
</section>
<section id="experience">
<h2>experience</h2>
<ul>
  <li><details>
  <summary><strong>XCITE Media Developer Assistant</strong> - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
</ul>
</section>
<section id="education">
<h2>education</h2>
<ul>
  <li><details>
  <summary><strong>Master of Science in Computer Engineering</strong> - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
  <li><details>
  <summary><strong>Bachelor of Science in Computer Engineering</strong> - University of California, Riverside</summary>
  <p>Test test</p>
  </details></li>
</ul>
</section>
<section id="contact">
<h2>connect</h2>
<form>
<button title="Contact form link" type="submit" formaction="/contact"><Icon name="link"/> Click me to access contact form</button>
</form>
Note that JavaScript must be enabled to fill out the contact form.

<ul>
  <li><a href="https://linkedin.com/in/charles-alaras" target="_blank">Find me on LinkedIn </a></li>
  <li><a href="https://github.com/charlesalaras" target="_blank">Find me on GitHub </a></li>
  <li><a href="/blog">I also have a blog, if you're interested </a></li>
</ul>
</section>
</Main>
