---
import Main from '@layout/Main.astro'

---
<script>
	document.addEventListener('astro:page-load', () => { location.hash = 'title'})
</script>
<Main pathname={Astro.url.pathname}>
	<h1 id="title">Home</h1>
	<p>
	Hello, my name is Charles Alaras. I am an engineer looking to create interesting projects.
	</p>
</Main>
