---
import Toggle from '@lib/Toggle.astro'
import '../styles/global.css'
---
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
	document.documentElement.classList.remove("dark");
  } else {
	document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro</title>
</head>
<body>
	<div class="app">
		<div class="header">
			<h1>Charles Alaras' Blog</h1>
			<Toggle/>
		</div>
		<main>
			<slot/>
		</main>
	</div>
</body>
</html>

<style>
	@media (min-aspect-ratio: 6/5) {
		:root {
			--content-width: calc(200vw / 3);
		}
	}
	@media(max-aspect-ratio: 6/5) {
		:root {
			--content-width: 95vw;
		}
	}
	.app {
		height: 100vh;
		width: var(--content-width);
		padding: 0.5rem;
	}
	body {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	html.dark body {
		background-color: var(--bg-dark);
	}
	html body {
		background-color: var(--bg-light);
	}
	.header {
		position: fixed;
		top: 0;
		width: var(--content-width);
		height: 8rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	main {
		padding-top: 8rem;
	}
	h1 {
		margin: 0;
		padding-top: 0.5rem;
		font-weight: 900;
		font-size: 4rem;
		height: 6rem;
	}
	html.dark .header {
		background: linear-gradient(
			var(--bg-dark) 50%,
			transparent
		);
	}
	html .header {
		background: linear-gradient(
			var(--bg-light) 50%,
			transparent
		);
	}
</style>
