---
import Nav from '@lib/Nav.svelte'
import Toggle from '@lib/Toggle.svelte'
import Background from '@lib/Background.svelte'
---

<div class="header">
	<Nav/>
	<Toggle/>
</div>
<div class="app">
	<Background/>
	<main>
		<slot/>
	</main>
</div>
