---
import Indicator from '@lib/Indicator.astro'
import Nav from '@lib/Nav.svelte'
import Toggle from '@lib/Toggle.astro'
import Background from '@lib/Background.astro'
import '../styles/global.css'

const colors = {
	"/": ["#1CA7EC", "#4ADEDE"],
	"/about": ["#FF0000", "#FD007A"],
	"/projects": ["#FFEE00", "#FFAA00"],
	"/contact": ["#008800", "#11FF3E"]
}
const { pathname } = Astro.props
---
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
	document.documentElement.classList.remove("dark");
  } else {
	document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro</title>
</head>
<body>
	<div class="header">
		<Indicator pathname={pathname}/>
		<Nav pathname={pathname}/>
		<Toggle/>
	</div>
	<div class="app">
		<Background pathname={pathname}/>
		<main>
			<slot/>
		</main>
	</div>
</body>
</html>

<style>
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 2rem 0.5rem 2rem;
	font-weight: 600;
}
</style>
