---
import '../styles/styles.css'
import Icon from '../components/Icon.astro'
---
<script is:inline>

var storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
if (storedTheme)
    document.documentElement.setAttribute('data-theme', storedTheme)


const toggleTheme = () => {
    var currentTheme = document.documentElement.getAttribute("data-theme");
    var targetTheme = "light";

    if (currentTheme === "light") {
        targetTheme = "dark";
    }

    document.documentElement.setAttribute('data-theme', targetTheme)
    localStorage.setItem('theme', targetTheme);
};


</script>
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<div class="bg">
		<div class="bg-item bg-r">
<svg width="512" height="512" version="1.1" viewBox="0 0 135.47 135.47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <radialGradient id="radialGradient10" cx="90.511" cy="128.17" r="50.8" gradientTransform="matrix(-.66667 .00019071 -.00057211 -2 128.12 290.19)" gradientUnits="userSpaceOnUse">
   <stop style="stop-color:rgba(0, 72, 189, 0.5)" offset="0"/>
   <stop style="stop-color:rgba(20, 110, 235, 0.25)" offset="1"/>
  </radialGradient>
 </defs>
 <path d="m67.733 5.0003e-5c-2.2183-2.9e-5 -4.4312 0.21789-6.6068 0.65061-2.1759 0.43269-4.304 1.0781-6.3536 1.927-2.0494 0.8489-4.0105 1.8971-5.8549 3.1295-1.8445 1.2326-3.5634 2.6434-5.132 4.2121-1.5686 1.5686-2.9792 3.2875-4.2116 5.132-1.2324 1.8444-2.2806 3.8055-3.1295 5.8549-0.84903 2.0494-1.4946 4.1774-1.9275 6.3531-0.43275 2.1758-0.65067 4.3889-0.65061 6.6073-2.9e-5 2.2183 0.21789 4.4312 0.65061 6.6068 0.43288 2.1757 1.0785 4.3036 1.9275 6.3531 0.8489 2.0494 1.8971 4.0105 3.1295 5.8549 1.2324 1.8446 2.643 3.5637 4.2116 5.1325 1.5686 1.5686 3.2875 2.9792 5.132 4.2116 1.8444 1.2324 3.8055 2.2806 5.8549 3.1295 2.0496 0.84889 4.1777 1.4943 6.3536 1.927 2.1756 0.43289 4.3886 0.65098 6.6068 0.65112 0.77099-1.3e-4 1.5418 0.0261 2.311 0.0786 0.76935 0.0527 1.5367 0.13161 2.3006 0.23668 0.76389 0.10493 1.524 0.23592 2.2789 0.39274 0.75481 0.15697 1.504 0.33966 2.2464 0.54777 0.74259 0.20806 1.4779 0.44143 2.2045 0.6997 0.72654 0.2581 1.4441 0.54093 2.1513 0.84801 0.70718 0.3072 1.4037 0.63847 2.0882 0.99322 0.6845 0.3547 1.3567 0.73268 2.0154 1.1333 0.65883 0.40075 1.3038 0.82388 1.9337 1.2687 0.62999 0.44466 1.2446 0.91071 1.8428 1.3973 0.59815 0.48661 1.1795 0.99351 1.743 1.5198 0.56347 0.52625 1.1088 1.0716 1.635 1.635 0.52629 0.56354 1.0332 1.1449 1.5198 1.743 0.48661 0.598 0.95266 1.2124 1.3973 1.8423 0.4446 0.62995 0.86757 1.2749 1.2681 1.9337 0.40059 0.65887 0.77857 1.3312 1.1333 2.0159 0.35474 0.68457 0.68601 1.3811 0.99322 2.0882 0.30725 0.70723 0.59025 1.4248 0.84852 2.1513 0.25826 0.72649 0.49163 1.4616 0.6997 2.204 0.20795 0.74251 0.39047 1.4919 0.54726 2.2469 0.15699 0.75495 0.28815 1.515 0.39325 2.2789 0.10488 0.7638 0.18365 1.531 0.23616 2.3001 0.0527 0.76937 0.079 1.5403 0.0791 2.3115 3e-5 2.2183-0.21789 4.4312-0.65061 6.6068-0.43288 2.1757-1.0785 4.3036-1.9275 6.3531-0.8489 2.0494-1.8971 4.0105-3.1295 5.8549-1.2324 1.8446-2.643 3.5637-4.2116 5.1325-1.5686 1.5686-3.2875 2.9792-5.132 4.2116-1.8444 1.2324-3.8055 2.2806-5.8549 3.1295-2.0496 0.84888-4.1777 1.4943-6.3536 1.927-2.1756 0.43289-4.3885 0.65098-6.6068 0.65112 3.2254-1.6e-4 6.4467-0.23071 9.6392-0.68988 3.1927-0.45899 6.3485-1.1454 9.4434-2.0541 3.0948-0.90866 6.1208-2.0372 9.0547-3.3771 2.9341-1.34 5.7687-2.8878 8.4822-4.6318 2.7134-1.7438 5.2988-3.6792 7.7365-5.7914 2.4377-2.1121 4.7214-4.3956 6.8337-6.8332 2.1122-2.4378 4.0476-5.0234 5.7914-7.737 1.7437-2.7133 3.2914-5.5478 4.6312-8.4816 1.34-2.934 2.4688-5.9599 3.3776-9.0547 0.90869-3.0949 1.5952-6.2507 2.0541-9.4434 0.459-3.1926 0.68938-6.4138 0.68937-9.6392-2e-5 -1.1084-0.0272-2.2167-0.0816-3.3238-0.0543-1.107-0.13584-2.2125-0.24443-3.3156-0.10872-1.103-0.2445-2.2032-0.40721-3.2995-0.16266-1.0962-0.3522-2.1883-0.56844-3.2752-0.21613-1.087-0.45892-2.1686-0.72812-3.2437-0.26933-1.0752-0.56501-2.1437-0.88677-3.2044-0.32174-1.0605-0.66945-2.113-1.0428-3.1564-0.37334-1.0435-0.77223-2.0777-1.1963-3.1016-0.42413-1.0241-0.87334-2.0376-1.3472-3.0396-0.47396-1.0018-0.97244-1.9919-1.495-2.9693-0.52247-0.97754-1.0689-1.9421-1.6387-2.8928-0.56984-0.95062-1.1629-1.8871-1.7787-2.8086-0.61569-0.92158-1.2539-1.8279-1.9141-2.7182-0.66024-0.89028-1.3422-1.7642-2.0454-2.621-0.70311-0.85669-1.4271-1.696-2.1714-2.5172-0.74431-0.82116-1.5087-1.6239-2.2924-2.4076-0.78365-0.7837-1.5864-1.5481-2.4076-2.2924-0.82133-0.7443-1.6608-1.4683-2.5177-2.1714-0.8568-0.70313-1.7308-1.3851-2.621-2.0454-0.89008-0.66034-1.7962-1.2987-2.7177-1.9146-0.92168-0.6158-1.8583-1.2089-2.8091-1.7787-0.95056-0.5698-1.915-1.1162-2.8923-1.6387-0.97757-0.52238-1.9678-1.0207-2.9698-1.4945-1.0019-0.47386-2.0152-0.92307-3.0391-1.3472-1.0239-0.42408-2.0581-0.82298-3.1016-1.1963-1.0436-0.37339-2.0962-0.7211-3.1569-1.0428-1.0606-0.32176-2.1289-0.61744-3.2039-0.88677-1.0751-0.26938-2.1567-0.51234-3.2437-0.72864-1.0871-0.21625-2.1794-0.40579-3.2758-0.56844-1.0963-0.16254-2.1965-0.29814-3.2995-0.40669-1.103-0.10859-2.2085-0.19009-3.3156-0.24443-1.1069-0.0544-2.215-0.08163-3.3233-0.08165z" style="fill:url(#radialGradient10);stroke-width:0"/>
</svg>
		</div>
		<div class="bg-item bg-l">
<svg width="512" height="512" version="1.1" viewBox="0 0 135.47 135.47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <radialGradient id="radialGradient12" cx="90.378" cy="178.97" r="50.8" gradientTransform="matrix(.66984 .0010635 -.0031754 2 7.601 -256.43)" gradientUnits="userSpaceOnUse">
   <stop style="stop-color:rgba(20, 110, 235, 0.5)" offset="0"/>
   <stop style="stop-color:rgba(0, 72, 189, 0.25)" offset="1"/>
  </radialGradient>
 </defs>
 <path d="m67.733 5.0003e-5c-3.2255-3.4e-5 -6.447 0.23034-9.6397 0.68936-3.1925 0.45901-6.3482 1.1455-9.4428 2.0541-3.0948 0.90866-6.1208 2.0372-9.0547 3.3771-2.9341 1.34-5.7687 2.8878-8.4822 4.6318-2.7134 1.7438-5.2988 3.6792-7.7365 5.7914-2.4377 2.1123-4.7214 4.396-6.8337 6.8337-2.1122 2.4376-4.0476 5.0231-5.7914 7.7365-1.7437 2.7133-3.2914 5.5478-4.6312 8.4816-1.34 2.934-2.4687 5.9599-3.3776 9.0548-0.90869 3.0948-1.5951 6.2507-2.0541 9.4434-0.45902 3.1927-0.6894 6.4142-0.68936 9.6397-8.9962e-6 3.2254 0.23037 6.4467 0.68936 9.6392 0.45899 3.1927 1.1455 6.3485 2.0541 9.4434 0.90882 3.0948 2.0376 6.1208 3.3776 9.0547 1.3398 2.9339 2.8875 5.7683 4.6312 8.4816 1.7438 2.7136 3.6792 5.2992 5.7914 7.737 2.1123 2.4375 4.396 4.7211 6.8337 6.8332 2.4376 2.1122 5.0231 4.0476 7.7365 5.7914 2.7135 1.7439 5.5481 3.2918 8.4822 4.6318 2.934 1.3398 5.9599 2.4684 9.0547 3.3771 3.0947 0.90866 6.2503 1.5951 9.4428 2.0541 3.1927 0.4592 6.4142 0.68975 9.6397 0.68988 2.2183-1.4e-4 4.4312-0.21823 6.6068-0.65112 2.1759-0.43268 4.304-1.0781 6.3536-1.927 2.0494-0.84891 4.0105-1.8971 5.8549-3.1295 1.8445-1.2324 3.5634-2.6431 5.132-4.2116 1.5686-1.5688 2.9792-3.2879 4.2116-5.1325 1.2324-1.8444 2.2806-3.8055 3.1295-5.8549 0.84903-2.0495 1.4946-4.1774 1.9275-6.3531 0.43272-2.1756 0.65064-4.3886 0.65061-6.6068-3e-5 -0.77117-0.0264-1.5421-0.0791-2.3115-0.0525-0.76917-0.13128-1.5363-0.23616-2.3001-0.1051-0.76389-0.23626-1.524-0.39325-2.2789-0.15679-0.75497-0.33931-1.5044-0.54726-2.2469-0.20807-0.74241-0.44144-1.4775-0.6997-2.204-0.25827-0.72654-0.54127-1.4441-0.84852-2.1513-0.30721-0.70718-0.63848-1.4037-0.99322-2.0882-0.3547-0.68467-0.73268-1.357-1.1333-2.0159-0.40057-0.65883-0.82354-1.3038-1.2681-1.9337-0.44467-0.62982-0.91072-1.2443-1.3973-1.8423-0.48661-0.59814-0.99351-1.1795-1.5198-1.743-0.52625-0.56347-1.0716-1.1088-1.635-1.635-0.56354-0.52629-1.1449-1.0332-1.743-1.5198-0.59817-0.48662-1.2128-0.95267-1.8428-1.3973-0.62995-0.44478-1.2749-0.86791-1.9337-1.2687-0.6587-0.40058-1.3309-0.77856-2.0154-1.1333-0.68457-0.35475-1.3811-0.68602-2.0882-0.99322-0.70723-0.30708-1.4248-0.58991-2.1513-0.84801-0.72666-0.25827-1.4619-0.49164-2.2045-0.6997-0.74234-0.20811-1.4916-0.3908-2.2464-0.54777-0.75495-0.15682-1.515-0.28781-2.2789-0.39274-0.76396-0.10507-1.5313-0.184-2.3006-0.23668-0.7692-0.0525-1.54-0.0787-2.311-0.0786-2.2183-1.4e-4 -4.4312-0.21823-6.6068-0.65112-2.1759-0.43269-4.304-1.0781-6.3536-1.927-2.0494-0.8489-4.0105-1.8971-5.8549-3.1295-1.8445-1.2324-3.5634-2.6431-5.132-4.2116-1.5686-1.5688-2.9792-3.2879-4.2116-5.1325-1.2324-1.8444-2.2806-3.8055-3.1295-5.8549-0.84903-2.0495-1.4946-4.1774-1.9275-6.3531-0.43272-2.1756-0.65064-4.3886-0.65061-6.6068-6.3e-5 -2.2184 0.21785-4.4315 0.65061-6.6073 0.43288-2.1757 1.0785-4.3036 1.9275-6.3531 0.8489-2.0494 1.8971-4.0105 3.1295-5.8549 1.2324-1.8445 2.6431-3.5634 4.2116-5.132 1.5686-1.5687 3.2875-2.9796 5.132-4.2121 1.8444-1.2324 3.8055-2.2806 5.8549-3.1295 2.0496-0.84889 4.1777-1.4943 6.3536-1.927 2.1757-0.43272 4.3886-0.65063 6.6068-0.65061z" style="fill:url(#radialGradient12);stroke-width:0"/>
</svg>
		</div>
	</div>
	<header>
		<button id="theme-toggle" type="button" onclick="toggleTheme()">
			<Icon className="block-light" name="moon" fill={true}/>
			<Icon className="block-dark" name="sun" fill={true}/>
		</button>
	</header>
	<main>
		<slot></slot>
	</main>
	</body>
</html>
